
.ui-counter-container {
    position: absolute;
    left:20px;
    right:20px;
    width: 249px;
    bottom: 20px;
    background: rgb(47, 48, 55); 
    border: 2px solid rgb(47, 48, 55);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.ui-counter-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ui-counter-text {
    font-size: 16px;
    margin-bottom: 8px;
    color: #fff;
}

.ui-counter-progress {
    width: 100%;
    height: 10px;
    background: #d1d1d1; 
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;
}

.ui-counter-progress-bar {
    height: 100%;
    background: #8b5cf6; 
    border-radius: 5px;
    transition: width 0.3s ease;
}


.ui-counter-button {
    width: 200px;
    background: linear-gradient(to right, #6366f1, #8b5cf6, #ec4899); 
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s ease;
    color:#fff;
}



.ui-counter-icon {
    margin-right: 5px;
}


@media (max-width: 550px) {
    .ui-counter-container {
        width: 80px; 
        font-size: 14px;
        padding: 8px;
        left: 5px; 
    }

    .ui-counter-text {
        font-size: 14px; 
    }

    .ui-counter-text span {
        display:none;
    }

    .ui-counter-progress-bar {
        height: 8px; 
    }

    .ui-counter-progress {
        height: 8px;
    }

    .ui-counter-button {
        width: 40px; 
        padding: 6px 10px;
        font-size: 12px; 
        color:#fff;
    }

    .ui-counter-button span { 
        display: none;
    }

    .ui-counter-icon {
        margin-right: 0; 
    }
}
