body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    margin: 0; 
    overflow-x: hidden;
    /*overflow-y: auto;  Ensure vertical scrolling is enabled */
}
.card-container {
    padding: 1rem;
    width:980px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: box-shadow 0.2s;
    border-radius:5px;
    margin:8px 15px;
}

.card-container:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-link {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.card-content {
    display: flex;
    align-items: center;
    gap: 44em;
}
.card{
    display:flex;
    align-items:center;
    justify-content:"space-around";
}

.icon-container {
    padding: 0.5rem;
    border-radius: 0.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:5px;
    margin-right:15px;
    width:50px;
}

.icon {
    width: 2rem;
    height: 2rem;
}

.card-label {
    font-weight: 600;
    font-size:14px;
    width:150px;
}

.arrow-icon {
    width: 1.25rem;
    height: 1.25rem;
}
@media screen and (max-width: 1300px) {
    .card-container {
        padding: 1rem;
        width:700px;
        border: 1px solid rgba(0, 0, 0, 0.05);
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        transition: box-shadow 0.2s;
        border-radius:5px;
        margin:8px 15px;
        transition: width 0.3s ease-out;
    }
    .card-content {
        display: flex;
        align-items: center;
        gap: 27em;
    }
}
@media screen and (max-width: 1020px) {
    .card-container {
        padding: 1rem;
        width:500px;
        border: 1px solid rgba(0, 0, 0, 0.05);
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        transition: box-shadow 0.2s;
        border-radius:5px;
        margin:8px 15px;
        transition: width 0.3s ease-out;
    }
    .card-content {
        display: flex;
        align-items: center;
        gap: 14em;
    }
}
@media screen and (max-width: 850px) {
    .card-container {
        padding: 1rem;
        width:400px;
        border: 1px solid rgba(0, 0, 0, 0.05);
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        transition: box-shadow 0.2s;
        border-radius:5px;
        margin:8px 15px;
        transition: width 0.3s ease-out;
    }
    .card-content {
        display: flex;
        align-items: center;
        gap: 8em;
    }
}
@media screen and (max-width: 730px) {
    .card-container {
        max-width: 400px; /* Ensure the card doesn't get smaller than 400px */
        padding: 20px;
        border: 1px solid rgba(0, 0, 0, 0.05);
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        transition: box-shadow 0.2s;
        border-radius: 5px;
        margin: 8px auto;
        transition: width 0.3s ease-out;
        
    }
    .card-content {
        display: flex;
        align-items: center;
        gap: 10em;
    }
    .card-label {
        font-weight: 600;
        font-size:12px;
        width:120px;
    }
    .icon {
        width: 1.25rem;
        height: 1.25rem;
    }
    .arrow-icon {
        width: 1.25rem;
        height: 1.25rem;
    }
    .card{
        display:flex;
        align-items:center;
        justify-content:"space-around";
    }
}
@media screen and (max-width: 550px) {
    .card-container {
        max-width: 270px; /* Ensure the card doesn't get smaller than 400px */
        padding: 5px;
        border: 1px solid rgba(0, 0, 0, 0.05);
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        transition: box-shadow 0.2s;
        border-radius: 5px;
        margin: 8px auto;
        transition: width 0.3s ease-out;
        
    }
    .card-content {
        display: flex;
        align-items: center;
        gap: 6em;
    }
    .card-label {
        font-weight: 600;
        font-size:12px;
        width:120px;
    }
    .icon {
        width: 1.25rem;
        height: 1.25rem;
    }
    .arrow-icon {
        width: 1.25rem;
        height: 1.25rem;
    }
    .card{
        display:block;
        align-items:center;
        justify-content:"space-around";
    }
}